{% extends 'base.html' %}
{% block title %}{{ participant.event.name }}{% endblock %}
{% block content %}
    <h1>{{ participant.event.name }}</h1>
    <h3 class="text-center">Hello, {{ participant.name }}!</h3>
    {% if participant.receiver %}
        <h2 class="mt-2">Your assigned concept</h2>
        <div class="box concept">{{ participant.receiver.concept|e }}</div>
    {% endif %}
    {% if participant.receiver %}
        <h3 class="mt-2">Your concept</h3>
        <p id="view">
            <span class="italic">{{ participant.concept|e }}</span>
            <a id="edit-link"
               href="{{ url_for('change_concept', token=participant.token) }}">Change</a>
        </p>
    {% else %}
        <h2 class="mt-2">Your concept</h2>
        <div id="view" class="box concept">{{ participant.concept|e }}</div>
        <a id="edit-link"
           href="{{ url_for('change_concept', token=participant.token) }}"
           class="button">Change</a>
    {% endif %}
    <form id="editor"
          style="display: none"
          action="{{ url_for('change_concept', token=participant.token) }}"
          method="post">
        <textarea name="concept" rows="3" maxlength="1000" autofocus>{{ participant.concept if participant.concept }}</textarea>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
{% block scripts %}
    <script>
      const textarea = document.querySelector('textarea');
      textarea.rows = Math.max(3, textarea.value.split('\n').length);

      const link = document.getElementById('edit-link');
      link.addEventListener('click', (e) => {
        e.preventDefault();
        link.style.display = 'none';
        document.getElementById('view').style.display = 'none';
        document.getElementById('editor').style.display = 'block';
        textarea.focus();
        textarea.selectionStart = textarea.selectionEnd = textarea.value.length;
      });
    </script>
{% endblock %}
