{% extends 'base.html' %}
{% block title %}Create a new event{% endblock %}
{% block content %}
    <h1>Create a new event</h1>
    {% if not logged_in %}
        <p class="text-center">
            or <a href="{{ url_for('login') }}">log in</a>
        </p>
    {% endif %}
    <form method="post">
        <label for="title">Event title:</label>
        <input type="text" name="title" maxlength="50" required />
        <input type="checkbox" name="participate" id="participate" value="y" />
        <label for="participate" class="inline">I will participate</label>
        <label for="host_name" class="if-participate">Your name:</label>
        <input type="text" name="host_name" maxlength="80" class="if-participate" />
        <button type="submit" class="center mt-1">{{ "Create" if logged_in else "Next" }}</button>
    </form>
{% endblock %}
