{% set x = heroicon_outline("x-mark", width="1em", height="1em", stroke_width="2", x_style="display: block; position: relative; top: 0.05em") | replace('x-style', 'style') %}
{% set check = heroicon_outline("check", width="1em", height="1em", stroke_width="2", x_style="display: block") | replace('x-style', 'style') %}
{% set star = heroicon_solid("star", width="1em", height="1em", x_style="position: relative; top: 0.12em; right: 0.2em") | replace('x-style', 'style') %}
{% macro delete_button(action, confirm="") %}
    <form method="post"
          action="{{ action }}"
          {% if confirm %}onsubmit="return confirm('{{ confirm }}');"{% endif %}>
        <button type="submit"
                class="remove_button"
                {% if assignment_run %}disabled{% endif %}>
            {{ heroicon_solid("trash", width="1em", height="1em") }}
        </button>
    </form>
{%- endmacro %}
{% macro noop() %}{% endmacro %}
{% macro reload_on_backbutton() %}
    <script>
        window.addEventListener("pageshow", (event) => {
          if (event.persisted) {
            // Page came from bfcache — possible stale state
            // eslint-disable-next-line
            {{ (caller or noop)() }}
            location.reload();
          }
        });
    </script>
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <main>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category or 'info' }}">{{ message }}</div>
                {% endfor %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
        {% block scripts %}{% endblock %}
    </body>
</html>
