<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <main>
            {% with messages = get_flashed_messages() %}
                {% if messages %}<p>{{ messages[0] }}</p>{% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
