{% set x = heroicon_outline("x-mark", width="1em", height="1em", stroke_width="2", style="display: block; position: relative; top: 0.05em") %}
{% set check = heroicon_outline("check", width="1em", height="1em", stroke_width="2", style="display: block") %}
{% set star = heroicon_solid("star", width="1em", height="1em", style="position: relative; top: 0.12em; right: 0.2em") %}
{% macro delete_button(action, confirm="") %}
    <form method="post"
          action="{{ action }}"
          {% if confirm %}onsubmit="return confirm('{{ confirm }}');"{% endif %}>
        <button type="submit"
                class="remove_button"
                {% if assignment_run %}disabled{% endif %}>
            {{ heroicon_solid("trash", width="1em", height="1em") }}
        </button>
    </form>
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <main>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category or 'info' }}">{{ message }}</div>
                {% endfor %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
