{% extends 'base.html' %}
{% block content %}
    <h1>Hello, {{ user.name }}!</h1>
    {% if user.receiver %}
        <h2>Your assigned concept.</h2>
        <blockquote>
            {{ user.receiver.concept }}
        </blockquote>
    {% endif %}
    <h2>Your concept</h2>
    <blockquote>
        {{ user.concept }}
    </blockquote>
    <p>
        <a href="{{ url_for('concept') }}">Change</a>
    </p>
    <hr />
    <p>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% if user.is_admin() %}<a href="{{ url_for('admin') }}">Admin</a>{% endif %}
    </p>
{% endblock %}
