{% extends 'base.html' %}
{% block title %}Concepterklaas{% endblock %}
{% block content %}
    <h1>Concepterklaas</h1>
    <form method="post">
        <fieldset>
            <legend>Create event</legend>
            <label for="event_name">Event name:</label>
            <input type="text" name="event_name" maxlength="50" required />
            <label for="admin_name">Admin name:</label>
            <input type="text" name="admin_name" maxlength="80" required />
            <label for="password">Admin password:</label>
            <input type="password" name="password" required />
            <button type="submit">Create</button>
        </fieldset>
    </form>
{% endblock %}
