{% extends 'base.html' %}
{% block title %}Secret Santa{% endblock %}
{% block content %}
    {% if new_users %}
        <form method="post">
            <fieldset>
                <legend>Create an account</legend>
                <label for="name">Select Your Name:</label>
                <select name="user_id" id="name" required>
                    {% for user in new_users %}<option value="{{ user.id }}">{{ user.name }}</option>{% endfor %}
                </select>
                <label for="password">Create a Password:</label>
                <input type="password" name="password" required />
                <button type="submit">Create</button>
            </fieldset>
        </form>
    {% else %}
        <p>Everyone in the group has made an account already</p>
    {% endif %}
    <p>
        <a href="{{ url_for('event_index', event_public_id=event_public_id) }}">I already made an account</a>
    </p>
{% endblock %}
